/* table column sizes*/
/*#*/
/*Код*/
/*Заказ*/
/*Наименование*/
/*Форма*/
/*Производитель*/
/*Цена*/
/*Поставщик*/
/*Больше %*/
/*Кратность*/
/*Остаток*/
/*Годность*/
/*Сумма*/
/* header-heights*/
/* search query */
/* table column sizes*/
/*#*/
/*Код*/
/*Заказ*/
/*Наименование*/
/*Форма*/
/*Производитель*/
/*Цена*/
/*Поставщик*/
/*Больше %*/
/*Кратность*/
/*Остаток*/
/*Годность*/
/*Сумма*/
/* header-heights*/
/* search query */
.main-page .main-header,
.main-page .main-footer,
.main-page .main-body {
  position: absolute;
  left: 0;
  right: 0;
}
.main-page .main-header {
  height: 100px;
  background-color: #fff;
  top: 0;
  box-shadow: 0 6px 24px -10px #000000;
  z-index: 10;
}
.main-page .main-header .user-info {
  /*border: 1px solid red;*/
  height: 25px;
}
.main-page .main-header .user-info .btn-group {
  float: right;
  margin: 0 10px;
  box-shadow: none;
}
.main-page .main-header .user-info .btn-group .btn.dropdown-toggle {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  padding: 4px 20px 4px 8px;
  margin: 5px 10px;
}
@media (max-width: 420px) {
  .main-page .main-header .user-info .btn-group .btn.dropdown-toggle {
    max-width: 150px;
  }
}
@media (min-width: 421px) and (max-width: 500px) {
  .main-page .main-header .user-info .btn-group .btn.dropdown-toggle {
    max-width: 300px;
  }
}
@media (min-width: 501px) {
  .main-page .main-header .user-info .btn-group .btn.dropdown-toggle {
    max-width: 400px;
  }
}
.main-page .main-header .user-info .btn-group .btn.dropdown-toggle .caret {
  position: absolute;
  right: 5px;
  top: 10px;
}
.main-page .main-header .user-info .btn-group .dropdown-menu {
  right: 90px;
  left: auto;
  box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.26);
}
.main-page .main-header .user-info .btn-group .dropdown-menu > li > a {
  cursor: pointer;
}
.main-page .main-header .user-info .btn-group .btn.btn-logout {
  padding: 4px 8px;
  margin: 5px 10px;
  border-radius: 2px;
}
.main-page .main-header .search-block {
  /*border: 1px solid green;*/
  height: 50px;
}
.main-page .main-header .search-block .for-input {
  /*border: 1px solid black;*/
  height: 100%;
  width: 60%;
  margin: 0 auto;
  margin-top: 8px;
}
.main-page .main-header .search-block .for-input .input-group {
  width: 100%;
}
.main-page .main-header .search-block .for-input .input-group .form-control-wrapper {
  margin: 0;
  /* input */
}
.main-page .main-header .search-block .for-input .input-group .form-control-wrapper .form-control {
  border: 1px solid #009587;
  border-right: none;
  padding: 5px;
  height: 34px;
}
.main-page .main-header .search-block .for-input .input-group .form-control-wrapper .form-control:focus {
  height: 33px;
}
.main-page .main-header .search-block .for-input .input-group .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 34px;
}
.main-page .main-header .search-block .for-input .drugs-lookup {
  background-color: #fff;
  border: 1px solid #009587;
  max-height: 100px;
  overflow-y: auto;
  padding: 3px;
  margin-top: 1px;
}
.main-page .main-header .search-block .for-input .drugs-lookup ul {
  margin-bottom: 0;
  list-style-type: none;
  padding: 0 2px;
}
.main-page .main-header .search-block .for-input .drugs-lookup ul li {
  cursor: pointer;
  padding: 2px 5px;
  height: 24px;
  white-space: nowrap;
}
.main-page .main-header .search-block .for-input .drugs-lookup ul li:hover {
  background-color: #c7e7e4;
}
.main-page .main-header .search-block .for-input .drugs-lookup ul li div {
  display: inline-block;
  width: 33%;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.main-page .main-header .search-preferences {
  /*border: 1px solid blue;*/
  height: 25px;
}
.main-page .main-footer {
  height: 100px;
  background-color: #fff;
  bottom: 0;
  box-shadow: 0 6px 24px 3px #000;
  z-index: 9;
}
.main-page .main-body {
  top: 100px;
  bottom: 100px;
  background-color: #fff;
}
.main-page .main-body .for-table {
  overflow: auto;
  height: 100%;
}
.main-page .main-body .for-table .tooltip-inner {
  border-radius: 5px;
}
.main-page .main-body .for-table .empty-table {
  background-color: #eaeaea;
  height: 100%;
  text-align: center;
  padding: 50px;
}
.main-page .main-body .for-table .empty-table span {
  font-size: 24px;
  color: #a8a8a8;
}
.main-page .main-body .for-table table {
  width: 100%;
  min-width: 1285px;
}
.main-page .main-body .for-table table .t-col {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  cursor: default;
}
.main-page .main-body .for-table table .t-col.col1 {
  min-width: 30px;
  max-width: 30px;
}
.main-page .main-body .for-table table .t-col.col1.drug-info {
  cursor: pointer;
  color: #009587;
}
.main-page .main-body .for-table table .t-col.col1.drug-info:hover i {
  font-weight: bold;
}
.main-page .main-body .for-table table .t-col.col2 {
  min-width: 65px;
  max-width: 65px;
}
.main-page .main-body .for-table table .t-col.col3 {
  width: 50px;
}
.main-page .main-body .for-table table .t-col.col4 {
  min-width: 150px;
  max-width: 150px;
}
.main-page .main-body .for-table table .t-col.col5 {
  min-width: 200px;
  max-width: 200px;
}
.main-page .main-body .for-table table .t-col.col6 {
  min-width: 200px;
  max-width: 200px;
}
.main-page .main-body .for-table table .t-col.col7 {
  min-width: 70px;
  max-width: 70px;
}
.main-page .main-body .for-table table .t-col.col8 {
  min-width: 100px;
  max-width: 100px;
}
.main-page .main-body .for-table table .t-col.col9 {
  min-width: 80px;
  max-width: 80px;
}
.main-page .main-body .for-table table .t-col.col10 {
  min-width: 80px;
  max-width: 80px;
}
.main-page .main-body .for-table table .t-col.col11 {
  min-width: 80px;
  max-width: 80px;
}
.main-page .main-body .for-table table .t-col.col12 {
  min-width: 100px;
  max-width: 100px;
}
.main-page .main-body .for-table table .t-col.col13 {
  min-width: 80px;
  max-width: 80px;
}
.main-page .main-body .for-table table thead {
  background-color: #7fc9c2;
  font-weight: bold;
}
