@import "colors.less";
@import "variables.less";
@import "../../libs/materialDesign/_variables.less";

.main-page {
	.main-header, .main-footer, .main-body {
		position: absolute;
		left: 0;
		right: 0;
	}

	.main-header {
		height: @main-header-height;
		background-color: #fff;
		top: 0;
		box-shadow: 0 6px 24px -10px #000;
		z-index: 10;

		.refill-data {
			position: fixed;
			z-index: 1000;
			left: 19px;
			top: 19px;
			width: 60px;
			height: 60px;
			border-radius: 60px;
			cursor: pointer;
			background-color: @primary;

			.icon{
				margin: 16px 0 0 18px;
				color: #fff;
				font-size: 28px;
			}
		}

		@import "loggedUser";
		@import url('lookup.less');

		.search-preferences {
			/*border: 1px solid blue;*/
			height: @search-preferences-height;
		}
	}

	.main-footer {
		height: @main-footer-height;
		background-color: #fff;
		bottom: 0;
		box-shadow: 0 6px 24px 3px #000;
		z-index: 9;
	}

	.main-body {
		top: @main-header-height;
		bottom: @main-footer-height;
		background-color: #fff;

		.for-table {
			overflow: auto;
			height: 100%;

			.tooltip-inner {
				border-radius: 5px;
			}

			.empty-table {
				background-color: @background-disabled;
				height: 100%;
				text-align: center;
				padding: 50px;

				span {
					font-size: 24px;
					color: @text-disabled;
				}
			}

			table {
				width: 100%;
				min-width: @main-table-width;

				.t-col {
					overflow: hidden;
					-ms-text-overflow: ellipsis;
					-o-text-overflow: ellipsis;
					text-overflow: ellipsis;
					white-space: nowrap;
					vertical-align: middle;
					cursor: default;

					&.col1 {
						min-width: @col1-width;
						max-width: @col1-width;

						&.drug-info {
							cursor: pointer;
							color: @primary;

							&:hover i {
								font-weight: bold;
							}
						}
					}

					&.col2 {
						min-width: @col2-width;
						max-width: @col2-width;
					}

					&.col3 {
						width: @col3-width;
					}

					&.col4 {
						min-width: @col4-width;
						max-width: @col4-width;
					}

					&.col5 {
						min-width: @col5-width;
						max-width: @col5-width;
					}

					&.col6 {
						min-width: @col6-width;
						max-width: @col6-width;
					}

					&.col7 {
						min-width: @col7-width;
						max-width: @col7-width;
					}

					&.col8 {
						min-width: @col8-width;
						max-width: @col8-width;
					}

					&.col9 {
						min-width: @col9-width;
						max-width: @col9-width;
					}

					&.col10 {
						min-width: @col10-width;
						max-width: @col10-width;
					}

					&.col11 {
						min-width: @col11-width;
						max-width: @col11-width;
					}

					&.col12 {
						min-width: @col12-width;
						max-width: @col12-width;
					}

					&.col13 {
						min-width: @col13-width;
						max-width: @col13-width;
					}
				}

				thead {
					background-color: @lighten-primary;
					font-weight: bold;
				}

				tbody {
				}
			}
		}
	}
}
