<div>
	<ul>
		<li>
			Идентификатор поставщика:
			<span class="entity-field"><%= entity.Id %></span>
		</li>
		<li>
			Адрес:
			<span class="entity-field"><%= entity.Address %></span>
		</li>
	</ul>
</div>