<div>
	<ul>
		<li>
			Идентификатор с системе PharmStore:
			<span class="entity-field"><%= entity.Id %></span>
		</li>
		<li>
			Идентификатор в системе поставщика:
			<span class="entity-field"><%= entity.DrugIdCustomer %></span>
		</li>
		<li>
			Наименование:
			<span class="entity-field"><%= entity.Title %></span>
		</li>
		<li>
			Форма упаковки:
			<span class="entity-field"><%= entity.Form %></span>
		</li>
		<li>
			Производитель:
			<span class="entity-field"><%= entity.Manufacturer %></span>
		</li>
		<li>
			Цена:
			<span class="entity-field"><%= entity.Price %></span>
		</li>
		<li>
			Поставщик:
			<span class="entity-field"><%= entity.Manufacturer %></span>
		</li>
		<li>
			Кратность:
			<span class="entity-field"><%= entity.Multiplicity %></span>
		</li>
		<li>
			Остаток:
			<span class="entity-field"><%= entity.Balance %></span>
		</li>
		<li>
			Срок годности:
			<span class="entity-field"><%= entity.DueDate %></span>
		</li>
	</ul>
</div>