<div class="main-body">
	<div class="for-table">
		<div class="empty-table" ng-if="!shownPriceList || shownPriceList.length === 0">
			<span>
				Для того чтобы отобразился прайс необходимо что-нибудь написать в строке поиска, либо не загружено ни одного прайса <br /> ToDo: сделать точное определние отсутствия прайса <br />ИЛИ ничего не найдено
			</span>
		</div>
		<div class="table-container" lasy-show="shownPriceList.length > 0">
			<div class="table-header">
				<div class="t-col col1"></div>
				<div class="t-col col2">
					<span tooltip="Код поставщика"
						  tooltip-placement="bottom"
						  tooltip-animation="false">Код</span>
				</div>
				<div class="t-col col3">
					<span tooltip="Количество для заказа" tooltip-placement="bottom" tooltip-animation="false">Заказ</span>
				</div>
				<div class="t-col col4">
					<span tooltip="Наименование товара" tooltip-placement="bottom" tooltip-animation="false">Наименование</span>
				</div>
				<div class="t-col col5">
					<span tooltip="Форма упаковки" tooltip-placement="bottom" tooltip-animation="false">Форма</span>
				</div>
				<div class="t-col col6">
					<span tooltip="Производитель" tooltip-placement="bottom" tooltip-animation="false">Производитель</span>
				</div>
				<div class="t-col col7">
					<span tooltip="Цена" tooltip-placement="bottom" tooltip-animation="false">Цена</span>
				</div>
				<div class="t-col col8">
					<span tooltip="Поставщик" tooltip-placement="bottom" tooltip-animation="false">Поставщик</span>
				</div>
				<div class="t-col col9">
					<span tooltip="Цена больше в %" tooltip-placement="bottom" tooltip-animation="false">Больше %</span>
				</div>
				<div class="t-col col10">
					<span tooltip="Кратность заказа" tooltip-placement="bottom" tooltip-animation="false">Кратность</span>
				</div>
				<div class="t-col col11">
					<span tooltip="Остаток на складе" tooltip-placement="bottom" tooltip-animation="false">Остаток</span>
				</div>
				<div class="t-col col12">
					<span tooltip="Срок годности" tooltip-placement="bottom" tooltip-animation="false">Годность</span>
				</div>
				<div class="t-col col13">
					<span tooltip="Итоговая сумма" tooltip-placement="bottom" tooltip-animation="false">Сумма</span>
				</div>
				<div class="t-col col-last"></div>
			</div>
			<div class="table-body"
				 list-scrolled="continueLoading()"
				 scroll-header="'table-header'">
				<div class="drug-raw"
					 ng-repeat="item in shownPriceList">
					<div class="t-col col1 drug-info"
						 ng-click="showDrugFullInfo(item)">
						<i class="fa fa-info-circle"
						   tooltip="Подробная информация"
						   tooltip-placement="right"
						   tooltip-animation="false"></i>
					</div>
					<div class="t-col col2"
						 tooltip="Код поставщика: {{ item.DrugIdCustomer }}"
						 tooltip-placement="right"
						 tooltip-animation="false">{{ item.DrugIdCustomer }}</div>
					<div class="t-col col3"><input type="number" min="1" max="5000" digits-only ng-model="item.count"></div>
					<div class="t-col col4">{{ item.Title }}</div>
					<div class="t-col col5">{{ item.Form }}</div>
					<div class="t-col col6">{{ item.Manufacturer }}</div>
					<div class="t-col col7">{{ item.Price }}</div>
					<div class="t-col col8"
						 ng-click="showCustomerInfo(item.CustomerId)">
						<span class="cur-pointer">{{ item.CustomerName }}</span>
					</div>
					<div class="t-col col9">TODO!</div>
					<div class="t-col col10">{{ item.Multiplicity }}</div>
					<div class="t-col col11">{{ item.Balance }}</div>
					<div class="t-col col12">{{ item.DueDate | date:'MM/dd/yyyy' }}</div>
					<div class="t-col col13"><span ng-show="item.count">{{ item.count * item.Price | number:2 }}</span></div>
				</div>

			</div>
		</div>
	</div>
</div>