<div class="search-block">
	<div class="for-input">
		<div class="input-group">
			<div class=form-control-wrapper is-off-click-exception>
				<input type="text"
					   class="form-control"
					   placeholder="Поиск по именованию..."
					   ng-model="searchQuery"
					   ng-model-options="{ debounce: 300 }"
					   ng-enter="lookup.showResults()"
					   off-click="lookup.clearLookup()"
					   off-click-custom-class="['form-control']"
					   ng-keydown="lookup.navigateOnPopup($event)">
			</div>
			<div class=form-control-wrapper is-off-click-exception>
				<input type="text"
					   class="form-control"
					   placeholder="Фильтр по форме упаковки..."
					   ng-model="searchQueryShape"
					   ng-model-options="{ debounce: 300 }"
					   ng-enter="lookup.showResults()"
					   off-click="lookup.clearLookup()"
					   off-click-custom-class="['form-control']"
					   ng-keydown="lookup.navigateOnPopup($event)">
			</div>
			<span class="input-group-btn">
				<button type="button"
						class="btn btn-primary"
						ng-click="lookup.showResults()"
						ng-disabled="!searchQuery">
					<span class="fa fa-search"></span>
				</button>
			</span>
		</div>
		<div class="drugs-lookup"
			 ng-show="searchQuery && lookupDrugs.length > 0"
			 lookup-scrolled="lookup.continueLoading()">
			<ul role="listbox">
				<li ng-repeat="drug in lookupDrugs"
					ng-click="lookup.showResultsByItem(drug)"
					ng-class="{ 'is-selected' : drug.isSelected }">
					<div ng-bind-html="drug.colorizedTitle"></div>
					<div ng-bind-html="drug.colorizedForm ? drug.colorizedForm : drug.Form"></div>
					<div>{{ drug.Manufacturer }}</div>
				</li>
			</ul>
		</div>
		<div class="drugs-lookup" ng-show="searchQuery && !lookupDrugs">
			В прайсе не найдено совпадений по запросу: "<b>{{ searchQuery }}</b><b ng-show="searchQueryShape"> {{ searchQueryShape }}</b>"
		</div>
	</div>
</div>