<div class="search-block">
	<div class="for-input">
		<div class="input-group">
			<div class=form-control-wrapper>
				<input type="text"
					   class="form-control"
					   placeholder="Поиск..."
					   ng-model="searchQuery"
					   ng-model-options="{ debounce: 200 }"
					   ng-enter="lookup.showResults()"
					   off-click="lookup.clearLookup()"
					   ng-keydown="lookup.navigateOnPopup($event)">
			</div>
			<span class="input-group-btn">
				<button type="button"
						class="btn btn-primary"
						ng-click="lookup.showResults()"
						ng-disabled="!searchQuery">
					<span class="fa fa-search"></span>
				</button>
			</span>
		</div>
		<div class="drugs-lookup" ng-show="searchQuery && lookupDrugs.length > 0">
			<ul role="listbox">
				<li ng-repeat="drug in lookupDrugs"
					ng-click="lookup.showResultsByItem(drug)"
					ng-class="{ 'is-selected' : drug.isSelected }">
					<div ng-bind-html="drug.colorizedTitle"></div>
					<div>{{ drug.Form }}</div>
					<div>{{ drug.Manufacturer }}</div>
				</li>
			</ul>
		</div>
		<div class="drugs-lookup" ng-show="searchQuery && !lookupDrugs">
			В прайсе не найдено совпадений по запросу: "<b>{{ searchQuery }}</b>"
		</div>
	</div>
</div>