<div>
	<ul>
		<li>
			Идентификатор поставщика:
			<span class="entity-field">{{ content.Id }}</span>
		</li>
		<li>
			Адрес:
			<span class="entity-field">{{ content.Address }}</span>
		</li>
	</ul>

	<div class="buttons-section">
		<div ng-click="closeModal()" data-dismiss="modal" class="btn btn-primary">OK</div>
	</div>
</div>